body {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

html {
    background-color: #000;

}

.item {
    font-size: 3em;
    line-height: 1.5;
    padding: 0 15px;
    transition: .5s all;
    transform: scale(0) rotate(-180deg);
    color: red;
    font-weight: 600;
}

.item.active {
    transform: scale(1) rotate(0);
}

